# General
*.DS_Store
Thumbs.db
*.swp
~*
*~

# Python & Node.js
venv/
__pycache__
node_modules/
package-lock.json
.wrangler

# Sphinx
_build

# Altium Designer 
History/
Schematics/__Previews
__Previews
*.$$$
*.PrjPcb.Zip
#*.log
